*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(13deg, #777715, #0b775a);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.10);

}

.to-do-list{
    background-color: rgb(243, 239, 239);
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    
}
.title-container h2{
    margin-top: 0.5em;
    font-size: 2em;
    text-align: center;
    user-select: none;
}
.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 0.5em 1em ;
    width: 60vw;
    height: 1.5em;
    font-size: 3em;
    border-radius: 20px;
    margin: 0.2em auto;
}
.input input{
    flex: 1;
    height: 2em;
    border-radius: 20px;
    padding: 10px;
    font-size: 0.5em;
    border: none;
    outline: none;

}
.input button{
    width: 8rem ;
    height: 2em;
    border-radius: 20px;
    padding: 10px;
    font-size: 0.5em;
    background-color: #d4a90f ;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 3em ;
}
ul li{
    list-style: none;
    font-size: 2.4em;
    padding: 0 2.3em;
    color: rgb(41, 39, 39);
    user-select: none;
    cursor: pointer;
    position: relative;
}
.deletIcon{
    color: #153677;
    font-size: 2em;
}
.deletIcon:hover{
    background-color: rgb(243, 238, 238);
    border-radius: 50%;
    cursor: pointer;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border: 1px solid red;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 0.3em;
    left: 1.3em;
}
.rowtask{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.isChecked{
    text-decoration: line-through;
    color: gray;
}
ul li.isChecked::before{
    background-color: red;
    background-image:url('./images/5291043.png') ;

}
ul li span::before{
    display: none;
}

@media 
